<div class="topnav-container">
  <div class="topnav" #topNav>
    <a class="logo" href="#">Forecast</a>
    <div class="menu-items">
      <a class="menu-item" href="#home" class="active" [appHamburgerMenu]= "topNav">Home</a>
      <a class="menu-item" href="#news" [appHamburgerMenu]= "topNav">Search</a>
      <a class="menu-item" href="#contact" [appHamburgerMenu]= "topNav">Browse</a>
      <a class="menu-item" href="#about" [appHamburgerMenu]= "topNav">Map</a>
      <a class="menu-item" href="#contact" [appHamburgerMenu]= "topNav">Contact</a>
      <a class="icon" [appHamburgerMenu]= "topNav">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</div>
