<div class="weather-widget">
  <section class="weather-widget-section one">
    <app-weather-row *ngFor="let day of filteredForecastDays;" [day]="day[0]" [isActive]="day === activeDay" (active)="onDaySelect($event)"></app-weather-row>
  </section>

  <section class="weather-widget-section two">
    <app-weather-centre [cityName]="cityWeatherForecast.city.name" [activeDay]="activeDay"></app-weather-centre>
  </section>

  <section class="weather-widget-section three">
    <app-weather-right [activeDay]="activeDay" [currentDay]="filteredForecastDays[0]"></app-weather-right>
  </section>
</div>
