@import "src/styles.scss";

.search-section-container {
  background-color: #262B2F;
  //height: 700px;
  padding: 30px;
}
.search-section {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}
.section-header {
  color: $white-text;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-group {
  width: 85%;
  min-width: 260px;
  margin-bottom: 8px;
}
.form-group input {
  width: 98.5%;
  height: 40px;
  min-height: 40px;
  background: #3a3d40;
  border: none;
  padding: 5px;
  font-size: $normal-text;
  color: $white-text;
}
button[disabled] {
  background: #6bacd2!important;
  color: lightgray!important;
}
form button {
  width: 15%;
  min-width: 90px;
  min-height: 50px;
  background: #3d9ed2;
  border: none;
  color: $white-text;
  font-size: $small-text;
  margin-bottom: 8px;
}
@media only screen and (max-width: 600px) {
  .section-header {

    padding: 0;
    margin: 0 auto;
  }
  .search-section {
    padding: 15px;
  }
  .search-section-container {
    padding: 0;
    //height: 550px;
  }
}
