<section class="search-section-container" id="search">
  <main class="search-section">
    <h3 class="section-header">Search City</h3>
    <br>
    <form [formGroup]="form">
      <div class="form-group">
        <input id="city" type="text" placeholder="City..." formControlName="city">
      </div>
      <button (click)="searchCity(form.getRawValue().city)" [disabled]="form.invalid">Search</button>
    </form>
    <br>
    <app-weather-widget *ngIf="weatherService.getCityWeatherForecast()" [cityWeatherForecast]="weatherService.getCityWeatherForecast()"></app-weather-widget>
  </main>
</section>
