@import "src/styles.scss";
footer {
  position: relative;
  background: #2b3137;
  padding: 30px;
}
.footer-text {
  max-width: 1200px;
  margin: 0 auto;
  //line-height: 10px;
  font-size: $small-text;
  color: $white-text;
}
.scroll-to-top {
  position: absolute;
  width: 55px;
  height: 46px;
  line-height: 60px;
  top: -45px;
  right: 0;
  color: $white-text;
  text-align: center;
  font-size: $large-text;
  background: #2b3137;
  cursor: pointer;
  outline: none;
}
