<section class="browse-section-container" id="browse">
  <main class="browse-section">
    <br>
    <h3 class="section-header">Browse City</h3>
    <br>
    <div class="weather-cards-container">
      <div class="city-weather-cards">
        <div class="city-weather-card" *ngFor="let cityWeather of paginationService.getSelectedPageContent()">
          <app-weather-card [activeWeather]="weatherService.getCityWeatherForecast()" [cityWeather]="cityWeather" (cardSelect)="onWeatherCardSelect($event)"></app-weather-card>
        </div>
      </div>
    </div>
    <div class="pagination" *ngIf="paginationService.selectedPageContent">
      <app-pagination [startPage]="startPage"></app-pagination>
    </div>
  </main>
</section>
