@import "src/styles.scss";

.map-section-container {
  background-color: #262B2F;
  height: 520px;
  padding: 30px;
}
.map-section {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}
.section-header {
  color: $white-text;
}
.temp-text {
  margin: 0;
  color: gray;
}
agm-map {
  height: 400px;
}
@media screen and (max-width: 600px) {
  .map-section-container {
    height: 350px;
  }
  agm-map {
    height: 260px;
  }
}
