/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Avenir-Light';
  src: url('/assets/fonts/AvenirLTStd-Light.otf') format('opentype');
}

$header-height : 500px;
$white-text: #fff;
$active: #82beff;
$jumbo-txt: 45pt;
$xx-large-text: 29pt;
$extra-large-text: 25pt;
$large-text: 20pt;
$medium-text: 18pt;
$normal-text: 15pt;
$small-text: 12pt;
$extra-small-text: 10pt;

html, body, section, h3, footer, p {
  margin: 0;
  font-family: Avenir-Light, sans-serif;
  box-sizing: border-box;
}

.section-header {
  font-size: $large-text;
  text-align: center;
}
.text-center {
  text-align: center;
}
.form-group input {
  border: none;
  padding: 5px;
}
.error-message {
  color: red;
}
.success-message {
  color: green;
}

/* No highlighting */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
//@media only screen and (max-width: 650px) {
//  body {
//    width: 90%;
//    margin: 0 auto;
//  }
//}
